{% extends 'base.html' %}

{% block header %}
  <div style="width: 80%; margin: 0 auto; text-align: left;">
    <h2>Projects</h2>
  </div>
{% endblock header %}

{% block content %}
  <div style="width: 80%; margin: 0 auto; text-align: left;">
    <ul>
      <li>
        <a href="https://github.com/yourusername/project1" target="_blank">Project 1: myPage</a>
      </li>
      <li>
        <a href="https://github.com/pvpradeep/jhu_software_concepts/tree/95e3e243f6b468f151730e022fd695feb2501ab3/module_1/study/rp_flask_board/board" target="_blank">Project 2: Flask Study</a>
      </li>
      <li>
        <a href="https://github.com/yourusername/project3" target="_blank">Project 3: TBD</a>
      </li>
    </ul>
  </div>
{% endblock content %}