{% extends 'base.html' %}

{% block header %}
  <div class="main-block">
    <h2>Projects</h2>
  </div>
{% endblock header %}

{% block content %}
  <div class="main-block">
    <ul>
      <li>
        <!-- Title <link> <description> -->
        <!-- 
         The `target` attribute specifies where to open the linked document:
            - "_blank" opens the link in a new tab or window.
            - "_self" (default) opens in the same tab.        
         The `title` attribute provides additional information about the link,
         typically shown as a tooltip when the user hovers over the link.
         This helps users understand the link's destination or purpose.
        -->    
        <p>Project 1:
        <a href="https://github.com/pvpradeep/jhu_software_concepts/tree/main/module_1/assignment" title="https://github.com/pvpradeep/jhu_software_concepts/tree/main/module_1/assignment" target="_blank">myPage</a>
        <p>A personal webpage built using Flask, HTML, and CSS to showcase my background, projects, and contact information.</p>
      </li>
      <li>
        <p>Project 2:
        <a href="https://github.com/pvpradeep/jhu_software_concepts/tree/main/module_1/study/rp_flask_board/board" title="https://github.com/pvpradeep/jhu_software_concepts/tree/main/module_1/study/rp_flask_board/board" target="_blank">Flask Study</a>
        <p>Initial learning and testing project for flask, html, github, ssh etc</p>
    </li>
      <li>
        <a href="https://github.com/pvpradeep/jhu_software_concepts/" target="_blank">Project 3: TBD</a>
      </li>
    </ul>
  </div>
{% endblock content %}